# workflow:
#   rules:
#     - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
#     - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'api' # using the api
    - if: $CI_PIPELINE_SOURCE == 'trigger' # using a trigger token
    - if: $CI_PIPELINE_SOURCE == 'web' # from the web interface
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

codspeed:
  stage: test
  image: python
  variables:
    CODSPEED_LOG: trace
    CODSPEED_RUNNER_VERSION: 3.2.0
    CARGO_HOME: $CI_PROJECT_DIR/.cargo
  # cache:
  #   key: rust-cache
  #   paths:
  #     - .cargo/bin/
  #     - .cargo/registry/index/
  #     - .cargo/registry/cache/
  #     - .cargo/git/db/
  before_script:
    - pip install -r requirements.txt
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source $HOME/.cargo/env
    - cargo install --git https://github.com/CodSpeedHQ/runner --branch cod-1469-remove-the-codspeed-token-from-the-setup
  script:
    - codspeed run --mode instrumentation --upload-url="$CODSPEED_DEV_UPLOAD_URL" -- pytest tests/ --codspeed
