# workflow:
#   rules:
#     - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
#     - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'api' # using the api
    - if: $CI_PIPELINE_SOURCE == 'trigger' # using a trigger token
    - if: $CI_PIPELINE_SOURCE == 'web' # from the web interface
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

codspeed:
  stage: test
  image: python
  variables:
    CODSPEED_LOG: trace
    CODSPEED_RUNNER_VERSION: 3.2.0
  before_script:
    - pip install -r requirements.txt
    - curl -fsSL https://github.com/CodSpeedHQ/runner/releases/download/v$CODSPEED_RUNNER_VERSION/codspeed-runner-installer.sh | bash -s -- --quiet
    - source $HOME/.cargo/env
    # - cargo install --git https://github.com/CodSpeedHQ/runner --branch feat/gitlab-ci-support
  script:
    - codspeed run --upload-url="$CODSPEED_DEV_UPLOAD_URL" -- pytest tests/ --codspeed
