workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

codspeed:
  id_tokens:
    CODSPEED_TOKEN:
      aud: codspeed.io
  stage: test
  image: python:3.13-bookworm
  variables:
    CODSPEED_LOG: trace
    CODSPEED_RUNNER_VERSION: 4.3.5-beta.1
    CARGO_HOME: $CI_PROJECT_DIR/.cargo
  cache:
    key: rust-cache
    paths:
      - .cargo/bin/
      - .cargo/registry/index/
      - .cargo/registry/cache/
      - .cargo/git/db/
  before_script:
    - pip install -r requirements.txt
    # - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    # - curl -fsSL https://github.com/CodSpeedHQ/runner/releases/download/v$CODSPEED_RUNNER_VERSION/codspeed-runner-installer.sh | bash -s -- --quiet
    - curl -fsSL https://github.com/CodSpeedHQ/runner/releases/latest/download/codspeed-runner-installer.sh | bash -s -- --quiet
    - source .cargo/env
    # - cargo install --git https://github.com/CodSpeedHQ/runner --branch cod-1469-remove-the-codspeed-token-from-the-setup
  script:
    - codspeed run --mode instrumentation --upload-url="$CODSPEED_DEV_UPLOAD_URL" -- pytest tests/ --codspeed
