name: benchmarks

on:
  workflow_dispatch:
  # TODO: uncomment after forking
  push:
    tags:
      - "v*"
    branches:
      - "main"
  pull_request:

jobs:
  benchmarks:
    strategy:
      matrix:
        runner-version:
          - '3.0.0'
          - '3.1.0'
          - '3.2.0'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12.5"
      - run: pip install -r requirements.txt

      - name: Run the action
        uses: CodSpeedHQ/action@main
        with:
          run: pytest tests/ --codspeed
          upload-url: ${{ secrets.CODSPEED_DEV_UPLOAD_URL }}/upload
          token: ${{ secrets.CODSPEED_DEV_TOKEN }}
          runner-version: ${{ matrix.runner-version }}
