name: benchmarks

on:
  workflow_dispatch:
  # TODO: uncomment after forking
  push:
    tags:
      - "v*"
    branches:
      - "main"
  pull_request:

jobs:
  toto:
    runs-on: ubuntu-latest
    steps:
      - name: A useless step
        env:
          INPUT_GITHUB_TOKEN: ${{ github.token }}
          INPUT_REPOSITORY: ${{ github.repository }}
          INPUT_RUN_ID: ${{ github.run_id }}
          INPUT_PER_PAGE: 30
        shell: bash
        run: |
          GITHUB_API="/repos/${INPUT_REPOSITORY}/actions/runs/${INPUT_RUN_ID}/jobs"
          JOBINFO="$(curl --get -Ss -H "Authorization: Bearer ${INPUT_GITHUB_TOKEN}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" "${GITHUB_API_URL}${GITHUB_API}?per_page=${INPUT_PER_PAGE}")"
          echo $JOBINFO
          echo $GITHUB_JOB
          echo '${{ toJson(job) }}'
          echo '${{ toJson(steps) }}'
          echo '${{ toJson(env) }}'
          echo '${{ toJson(github) }}'

  benchmarks:
    name: 'Test Benchmarks'
    strategy:
      matrix:
        runner-version:
          # - '3.0.0'
          - '3.1.0'
          - '3.2.0'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # - uses: actions/setup-python@v5
      #   with:
      #     python-version: "3.12.5"
      # - run: pip install -r requirements.txt

      - name: Get Current Job Log URL
        id: jobs
        env:
          INPUT_GITHUB_TOKEN: ${{ github.token }}
          INPUT_REPOSITORY: ${{ github.repository }}
          INPUT_RUN_ID: ${{ github.run_id }}
          INPUT_PER_PAGE: 30
        shell: bash
        run: |
          GITHUB_API="/repos/${INPUT_REPOSITORY}/actions/runs/${INPUT_RUN_ID}/jobs"
          JOBINFO="$(curl --get -Ss -H "Authorization: Bearer ${INPUT_GITHUB_TOKEN}" -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" "${GITHUB_API_URL}${GITHUB_API}?per_page=${INPUT_PER_PAGE}")"
          echo $JOBINFO
          echo $GITHUB_JOB
          cat $GITHUB_STEP_SUMMARY
          echo '${{ toJson(job) }}'
          echo '${{ toJson(steps) }}'
          echo '${{ toJson(matrix) }}'
          echo '${{ toJson(env) }}'
          echo '${{ toJson(github) }}'
          echo '${{ toJson(strategy) }}'

      # - name: Run the action
      #   uses: CodSpeedHQ/action@main
      #   with:
      #     run: pytest tests/ --codspeed
      #     upload-url: ${{ secrets.CODSPEED_DEV_UPLOAD_URL }}/upload
      #     token: ${{ secrets.CODSPEED_DEV_TOKEN }}
      #     runner-version: ${{ matrix.runner-version }}
