name: benchmarks

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
    branches:
      - "main"
  pull_request:

jobs:
  benchmarks:
    strategy:
      matrix:
        runs-on: [ubuntu-latest, codspeed-macro-codspeed-francois-dev]
        shard: [1,2,3,4]
        runner-version:
          - '3.4.0'
    name: 'Run Benchmarks'
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12.5"
      - run: pip install -r requirements.txt

      - name: Run the action
        uses: CodSpeedHQ/action@v3
        with:
          run: pytest tests/ --codspeed --test-group=${{ matrix.shard }} --test-group-count=${{ strategy.job-total }}
          upload-url: ${{ secrets.CODSPEED_DEV_UPLOAD_URL }}/upload
          token: ${{ secrets.CODSPEED_DEV_TOKEN }}
          runner-version: ${{ matrix.runner-version }}
