name: benchmarks

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
    branches:
      - "main"
  pull_request:

env:
  CODSPEED_LOG: debug

jobs:
  benchmarks:
    permissions:
      #      contents: read
      id-token: write
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          # - codspeed-macro-codspeed-francois-dev
        shard:
          - 1
          - 2
        runner-version:
          # - 'latest'
          - '4.3.5-beta.1'
    name: 'Run Benchmarks'
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12.5"
      - run: pip install -r requirements.txt

      - name: Run the action
        uses: CodSpeedHQ/action@v4
        with:
          run: pytest tests/ --codspeed --test-group=${{ matrix.shard }} --test-group-count=2
          mode: ${{ matrix.runs-on == 'ubuntu-latest' && 'instrumentation' || 'walltime' }}
          upload-url: ${{ secrets.CODSPEED_DEV_UPLOAD_URL }}/upload
          # token: ${{ secrets.CODSPEED_DEV_TOKEN }}
          runner-version: ${{ matrix.runner-version }}

      # - name: Cache Rust dependencies
      #   uses: Swatinem/rust-cache@v2
      #   with:
      #     prefix-key: "codspeed-runner"
      #     shared-key: "cod-1469-remove-the-codspeed-token-from-the-setup"
      #     cache-targets: false
      #     cache-all-crates: true

      # - name: Setup CodSpeed from source
      #   run: cargo install --git https://github.com/CodSpeedHQ/runner --branch cod-1469-remove-the-codspeed-token-from-the-setup

      # - name: Run the benchmarks
      #   run: codspeed run
      #     --mode ${{ matrix.runs-on == 'ubuntu-latest' && 'instrumentation' || 'walltime' }}
      #     --token ${{ secrets.CODSPEED_DEV_TOKEN }}
      #     --upload-url "${{ secrets.CODSPEED_DEV_UPLOAD_URL }}/upload"
      #     -- pytest tests/ --codspeed --test-group=${{ matrix.shard }} --test-group-count=2
